api/components/core/red/flows_freelook.json
[{"type":"tab","id":"8b16d755.74e928","label":"Hello"},{"id":"4f2e423.fb0d1bc","type":"http in","z":"8b16d755.74e928","name":"Get","url":"/get","method":"get","swaggerDoc":"","x":187,"y":251,"wires":[["bcdea4d8.432158"]]},{"id":"8ca940ca.7356c","type":"debug","z":"8b16d755.74e928","name":"","active":true,"console":"false","complete":"false","x":501,"y":293,"wires":[]},{"id":"aeb2e048.514d2","type":"http response","z":"8b16d755.74e928","name":"res","x":410,"y":423,"wires":[]},{"id":"bcdea4d8.432158","type":"function","z":"8b16d755.74e928","name":"Hello","func":"msg.payload.data = 'Hello';\nreturn msg;","outputs":1,"noerr":0,"x":191,"y":388,"wires":[["aeb2e048.514d2","8ca940ca.7356c"]]}]